.App {
  margin:2rem auto;
  width:80%;
}

.Graphs {
  margin:1rem 0;
  padding:1rem;
  background:#333;
}

.Graph {
  margin-bottom:1rem;
  background:#f9f9f9;
  padding:1rem;
}
.Graph:last-child {
  margin-bottom:0;
}

.Graph-Button {
  margin:0 auto 1rem auto;
  display:block;
}

.Vertices {

}

.Vertex {
  width:30px;
  height:30px;
  background:#111;
  border:2px solid #ccc;
  color: #fff;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-size:0.8rem;
}
